.box {
    width: auto;
    height: auto;
    background-color: var(--white);
    color: var(--black);
    padding: 10px;
    position: relative;
    float: left;
    border-radius: .2rem;
    font-size: smaller;
    font-weight: 700;
}

.box.arrow-bottom {
    margin-top: 30px;
}

.box.arrow-bottom:after {
    content: " ";
    position: absolute;
    right: 20px;
    bottom: -10px;
    border-top: 15px solid var(--white);
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: none;
}