.box {
    width: 350px;
    height: 75px;
    background-color: black;
    color: #fff;
    padding: 10px;
    position: relative;
    float: left;
    border-radius: .2rem;
}

.box.arrow-top {
    margin-top: 30px;
}

.box.arrow-bottom:after {
    content: " ";
    position: absolute;
    right: 20px;
    bottom: -15px;
    border-top: 15px solid black;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: none;
}