.fabContainer {
    width: 60px;
    height: 60px;
    background-color: #F8F8F8;
    position: relative;
    border-radius: 50%;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
    border: 3px;
}

.fab {
    background-color: #F8F8F8;
    position: absolute;
    top: 15px;
    left: 18px;
}

.close {
    background-color: #F8F8F8;
    position: absolute;
    top: 12px;
    left: 10px;
}

.fabContainer:hover {
    cursor: pointer;
}

