@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --black: #0F0F0F;
  --white: #ffffff;
  --textGray: #FEFEFE80;
  --backgroundGray: #E0E0E0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #0F0F0F;
}

.mainScreen {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginButton {
  z-index: 0;
  padding: .5rem;
}

.rightCorner {
  position: absolute;
  bottom: 32px;
  right: 32px;
  display: flex;
  gap: 13px;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}

.buttons{
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 13px;
  order: 2;
}

.fabButton{
  order: 2;
}

.menuButtons{
  order: 1;
}

.cardComponent{
  order: 1;
}

@media screen and (max-width: 640px) {

  .rightCorner{
    bottom: 0px;
    right: 0px;
  }

  .cardComponent{
    order: 2;
  }

  .buttons{
    order: 1;
  }
}